.loader {
  border: 16px solid #0e332f;
  border-top: 16px solid #a4c001;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin 2s linear infinite;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}