body {
    padding: 50px;
}

.note {
    color: #333;
    position: relative;
    width: 250px;
    height: 250px;
    margin:50px;
    padding: 20px;
    font-size: 30px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    background: #eae672;
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-1deg);
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.close-button {
    position: absolute;
    top: -10px;
    right: -6px;
    background: #a4c001;
    width: 30px;
    height: 30px;</div>
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    opacity: 0.5;
}

.add-postit {
    font-weight: bold;
    font-size: 50px;
}

.add-postit-wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 290px;
}

.editable-area {
    background-color:transparent;
    resize:none;
    overflow:auto;
    border:0px;
    outline:0px;
    width: 200px;
    height: 200px;
    font-size: 30px;
 }

.save-button {
    font-size: 30px;
}
